<div class="panel panel-default panel-without-top">
    <div class="panel-body">

        <p>{{componentOneDes}}</p>
        <div class="panel panel-default">
            <div class="panel-heading">/communication-input/communication-input.component.html</div>
            <div class="panel-body">
                <pre [innerText]='parentFileContent'></pre>
            </div>
        </div>
        <p>{{componentTwoDes}}</p>
        <div class="panel panel-default">
            <div class="panel-heading">/communication-input/input-child.component.ts</div>
            <div class="panel-body">
                <pre [innerText]='childFileContent'></pre>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">OUTPUT</div>
            <!--start-->
            <div class="panel-body">
                <h2>{{tutorial}} App have following routes</h2>

                <input-child-component *ngFor="let route of routes | keys" [route]="route" [tutorial]="tutorial">
                </input-child-component>
            </div>
            <!--end-->
        </div>
    </div>
</div>