<div class="panel panel-default panel-without-top">
    <div class="panel-body">
        <!--<p>{{mainContent}}</p>
        <div class="panel panel-default">
            <div class="panel-heading">components/components.module.ts</div>
            <div class="panel-body">
                <pre [innerText]='moduleFileContent'></pre>
            </div>
        </div>-->
        <p>{{componentOneDes}}</p>
        <div class="panel panel-default">
            <div class="panel-heading">components/multiple/multiple.component.html</div>
            <div class="panel-body">
                <pre [innerText]='parentFileContent'></pre>
            </div>
        </div>
        <p>{{componentTwoDes}}</p>
        <div class="panel panel-default">
            <div class="panel-heading">components/multiple/child.component.ts</div>
            <div class="panel-body">
                <pre [innerText]='childFileContent'></pre>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">OUTPUT</div>
            <!--start-->
            <div class="panel-body">
                <multiple-child-component></multiple-child-component>
            </div>
            <!--end-->
        </div>
    </div>
</div>