$border-color: rgba(88, 88, 88, 0.1);
$background-color: rgba(200, 200, 200, 0.1);
$border-width: 1px;


.sidebar {
    border-right: $border-width solid $border-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    h3 {
        margin-top: 0;
        padding-top: 20px;
        padding-left: 10px;
    }
    ul {
        border-top: $border-width solid $border-color;
        background-color: $background-color;
        overflow: auto;
        li {
            border-bottom: $border-width solid $border-color;
            margin: 0;
        }
    }
}