<div class="container-fluid">
    <h2>Template Driven Form</h2>
    <form (ngSubmit)="onSubmit(formValidate.value)" #formValidate="ngForm">
        <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="userName" name="userName" required [(ngModel)]="username" #namecheck="ngModel">
            <p>{{username}}</p>
            <div [hidden]="namecheck.valid" class="alert alert-info">
                Enter User name!
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password" name="password" required ngModel #passcheck="ngModel">
            <div [hidden]="passcheck.valid" class="alert alert-info">
                Enter Password!
            </div>
        </div>
        <div ngModelGroup="Contacts">
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" class="form-control" id="phone" name="phone" required ngModel #phonecheck="ngModel">
                <div [hidden]="phonecheck.valid" class="alert alert-info">
                    Enter phone number!
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" required ngModel #emailcheck="ngModel">
                <div [hidden]="emailcheck.valid" class="alert alert-info">
                    Enter Email!
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-success" [disabled]="!formValidate.valid">Submit</button>
    </form>

</div>